.sh-grid-column {
  display: grid;
  grid-auto-flow: row;
  width: 200px;

  &.action-column {
    width: auto;
  }

  .sh-grid-col-header {
    font-weight: bold;
    font-size: 18px;
    background-color:lightgray;
  }

  .sh-grid-cell {
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;

    &.action-cell {
      display: grid;
      padding-left: 0px;

      .action-button {
        cursor: pointer;
        text-align: center;
      }
    }
  }
}
