@import '../../../theme.scss';

.sh-toggle {
    display:grid;
    grid-auto-flow: column;

    .toggle-option {
        width: 100px;
        text-align: center;
        line-height: 28px;
        padding: 5px;
        cursor:pointer;

        &:hover {
            background-color: $theme-a-dark-primary;
        }

        &.selected {
            border-bottom: 2px solid $theme-dark-primary;
        }
    }
}