.sh-conditions {
    .sh-conditions-content {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .conditions-list {
        height: 100%;
        flex: 1;
        display: flex;
    }



    .table {
        display: flex;
        flex-direction: column;
        width: 100%;

        .row {
            display: flex;
            border-bottom: 2px solid lightgray;
            align-items: center;
            padding-left: 10px;

            &:hover {
                background-color: lightgray;
            }

            &.title-row {
                font-weight: bold;
                font-size: 18px;
                flex-basis: 45px;

                &:hover {
                    background-color: transparent;
                }
            }

            .cell {
                flex: 4 4 0;
            }

            .small-cell {
                flex: 1 1 0;
            }

            .action-cell {
                .mat-button {
                    padding-left: 0px;
                    padding-right: 0px;
                    width: 20px;
                    min-width: 0px;
                }
            }
        }
    }
}
