<div class="sh-conditions">
  <sh-view titleText="Conditions">
  <div viewActions>
      <button class="add-condition" mat-raised-button (click)="onAddCondition()">
          <span>Add Condition</span>
      </button>
  </div>
    <div viewContent class="sh-conditions-content">

      <div class="conditions-list" *ngIf="conditionsService.state == 'ready'">
          <div viewContent class="table">
              <div class="row title-row scroll-header">
                  <div class="cell">
                      Type
                  </div>
                  <div class="cell">
                      Description
                  </div>
                  <div class="cell">
                      Room
                  </div>
                  <div class="cell">
                      Profile
                  </div>
                  <div class="cell">
                      Profession
                  </div>
                  <div class="cell">
                      Day
                  </div>
                  <div class="cell">
                      Importance
                  </div>
                  <div class="cell">
                      Absent next day
                  </div>
                  <div class="small-cell">
                      Delete
                  </div>
              </div>
              <div class="scroll-content table-content">
                  <div class="scroll-wrapper">
                      <div *ngFor="let condition of allConditions" class="row">
                          <div class="cell">
                              {{condition.type}}
                          </div>
                          <div class="cell">
                              {{condition.description}}
                          </div>
                          <div class="cell">
                              {{condition.room ? condition.room.name : ''}}
                          </div>
                          <div class="cell">
                              {{condition.profile ? condition.profile.name : ''}}
                          </div>
                          <div class="cell">
                              {{condition.profession ? condition.profession.name : ''}}
                          </div>
                          <div class="cell">
                              {{condition.day ? condition.day : ''}}
                          </div>
                          <div class="cell">
                              {{condition.importance ? condition.importance : ''}}
                          </div>
                          <div class="cell">
                              {{condition.isLockedForNextDay ? 'Yes' : 'No'}}
                          </div>
                          <div class="small-cell action-cell">
                              <button mat-button (click)="onDeleteCondition(condition)">
                                  <fa-icon icon="trash"></fa-icon>
                              </button>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </sh-view>
</div>
