.sh-grid-column {
  border-right: 1px solid black;
  display: grid;
  grid-auto-flow: row;
  width: 200px;

  .sh-grid-col-header {
    font-weight: bold;
    font-size: 18px;
    background-color:lightgray;
    border-top:1px solid black;
  }

  .sh-grid-cell {
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    border-bottom: 1px solid black;
  }
}