.sh-home {
  .schedule {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      justify-content: space-around;
      height: 75px;
      border-bottom: 1px solid lightgray;

      &.room {
        height: 120px;
      }

      .title {
        flex: 1;
        line-height: 75px;
        font-size: 20px;
      }

      .room-name {
        line-height: 120px;

        font-size: 18px;
        font-weight: 500;
      }

      .cell {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-around;
      }

      .daily-assignments {
        .assignment {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .assignment-text {
            margin-left: 5px;
          }

          .nice-to-have {
            background-color: yellow;
            padding: 5px;
            color: black;
            font-weight: bold;
          }

          .required {
            background-color: red;
            padding: 5px;
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  }
}