<div class="sh-home">
    <sh-view [titleText]="title">
        <div class="schedule" viewContent>
            <div class="row title-row">
                <div class="cell title">
                    Rooms
                </div>
                <div class="cell title" *ngFor="let day of this.days">
                    <span>{{day}}</span>
                    <div class="show-absent" (click)="onShowAbsent(day)">Absent</div>
                </div>
            </div>
            <div>
               <div class="row" *ngFor="let room of this.rooms">
                    <div class="cell title room-name">
                        {{room.name}}
                    </div>
                    <div class="cell content" *ngFor="let day of this.days">
                        <div class="assignment" *ngFor="let asgn of this.weeklySchedule.days[day].assignmentsByRoom.get(room.id)">
                            <div class="assignment-text" (click)="profileClicked(asgn.profile)"
                                 [matTooltip]="asgn.condition.importance + ' - ' + asgn.condition.profession.name"
                                 matTooltipPosition="above">{{asgn.profile.name}}</div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </sh-view>
</div>