.sh-home {
  .schedule {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      border-bottom: 2px solid lightgray;

      &.title-row {
        height: 75px;
      }

      .title {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .cell {
        flex: 1;

        &.content {
          height: 90px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .show-absent {
      font-size: 14px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .assignment-text {
      cursor: pointer;
      padding:5px;
      &:hover {
        font-weight: bold;
      }
    }
  }
}