.profile-edit {
    height: 100%;
}

.profile-edit-grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .profile-info {
        display: flex;
        flex: 1;
        justify-content: flex-start;

        .profile-image {
            justify-content: center;
            margin-right: 50px;
        }

        .profile-main-info {
            display: flex;
            flex-direction: column;
            width: 350px;

            .info {
                margin-bottom: 20px;

                .property {
                    font-size: 18px;
                }
            }

            .professions {
                .title {
                    font-weight: bold;
                    font-size: 24px;
                }

                .profession {
                    font-size: 18px;
                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: 10% auto 20%;
                }

                .add-professions {
                    display: grid;
                    grid-auto-flow: column;
                    align-items: center;
                    grid-auto-columns: 80% auto;
                    margin-top: 10px;
                }
            }
        }
    }

    .profile-secondary-info {
        border:1px solid black;
        display: flex;
        flex:2;
    }
}
