@import "../theme.scss";

.app {
  position: relative;
}

.app-grid {
  display: flex;
  height: 100vh;
  background-color: $theme-base;

  .sidebar-container {
    flex-basis: 200px;
    box-shadow: 1px 0px  3px 0px black;
    background:white;
    z-index: 1;
  }

  .content-container {
    flex: 1;
    align-items: center;
    justify-items: center;
    height: 100vh;
  }
}
