<div class="profiles">
  <sh-view titleText="Profiles">
    <div viewContent class="table">
      <div class="row title-row scroll-header">
        <div class="cell">
          Name
        </div>
        <div class="cell">
          Professions
        </div>
        <div class="small-cell">
          Edit
        </div>
      </div>
      <div class=" scroll-content table-content">
        <div class="scroll-wrapper">
          <div *ngFor="let profile of profiles" class="row">
            <div class="cell">
              {{profile.name}}
            </div>
            <div class="cell">
              {{profile.professionsJoinedText}}
            </div>
            <div class="small-cell action-cell">
              <button mat-button (click)="onEditProfile(profile)">
                <fa name="pencil"></fa>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </sh-view>
</div>
