.profiles {
    .actions {

        input {
            color:white;

            :focus {
                background-color: white;
            }
        }

        ::ng-deep {
            span {
                color:white;
            }

            .mat-form-field-underline {
                background-color: white;
            }
        }
    }

    .profile-edit-content {
        height: 600px;
    }

    .table {
        display: flex;
        flex-direction: column;

        .table-content {
            height: calc(100% - 190px);
        }

        .row {
            display: flex;
            border-bottom: 2px solid lightgray;
            align-items: center;

            &:hover {
                background-color: lightgray;
            }

            &.title-row {
                font-weight: bold;
                font-size: 20px;

                &:hover {
                    background-color: transparent;
                }
            }

            .cell {
                flex: 5 5 0;
            }

            .small-cell {
                flex: 1 1 0;
            }

            .action-cell {
                .mat-button {
                    padding-left: 0px;
                    padding-right: 0px;
                    width: 20px;
                    min-width: 0px;
                }
            }
        }
    }
}
