@import '../../../theme.scss';

.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $theme-primary;

  .sidebar-header {
    flex: 1;
    color:black;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
  }

  .sidebar-footer {
    margin-bottom: 30px;
    flex:1;
    .logout-item {
      padding: 0px 15px;
      height: 40px;
      display: flex;
      align-items: center;
      font-size: 18px;
      cursor: pointer;
      color:black;
      justify-content: space-between;

      &:hover {
        background-color: $theme-secondary;
        color: white;
      }
    }
  }

  .sidebar-body {
    flex: 7;
    border-bottom: 1px solid lightgray;
    padding-top: 10px;

    .sidebar-item {
      padding-left: 15px;
      height: 40px;
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 18px;
      cursor: pointer;
      color:black;

      .icon {
        color: $theme-secondary;
      }

      .text {
        margin-left: 10px;
      }

      &.selected {

        font-weight: 500;
        background-color: $theme-a-secondary;
        &:focus {
          border: 0px;
        }
        .icon {
          color: $theme-primary;
        }

        &:hover {
          background-color: $theme-a-secondary;
        }
      }

      &:hover {
        background-color: $theme-a-secondary;
      }
    }
  }
}
