.view {
    width: 100%;
    display: grid;
    margin: auto;
    grid-template-rows: 150px auto;
    align-items: center;
    justify-items: center;

    .view-header{
        grid-row: 1;
        background-color: rgba(0,0,255,0.05);
        width: calc(100% - 50px);
        height: 150px;
        display: flex;
        align-items: center;
        padding-left: 50px;
    }

    .view-content {
        width: 1200px;
        grid-row: 2;
        margin-top: -15px;
    }
}